<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.mapper.StudentMapper">
    <select id="queryStudentList" resultType="Student">
      select * from student
  </select>
<!--    <cache/> 开启缓存-->
</mapper>